.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  border-radius: 12px;
  text-align: center;

  &:focus,
  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.default {
    background-color: #f0f0f0;
    color: #333;
  }

  &.primary {
    background-color: #1890ff;
    color: white;
    border: 1px solid #1890ff;

    &:hover {
      background-color: #40a9ff;
    }
  }

  &.dashed {
    border: 1px dashed #1890ff;
    color: #1890ff;
    background-color: transparent;
  }

  &.link {
    background-color: transparent;
    color: #1890ff;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.text {
    background-color: transparent;
    color: #333;
    border: none;
  }

  &.danger {
    background-color: red;
    border: 1px solid red;
    color: white;

    &:hover {
      background-color: rgb(255, 70, 70);
    }
  }

  &.ghost {
    background-color: transparent;
    color: #1890ff;
    border: 1px solid #1890ff;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &.small {
    font-size: 12px;
    padding: 6px 16px;
  }

  &.medium {
    font-size: 14px;
    padding: 8px 20px;
  }

  &.large {
    font-size: 16px;
    padding: 10px 24px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.round {
    border-radius: 16px;
  }

  .icon {
    margin-right: 8px;
  }

  .loading {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
